@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
.wrap{
  min-width: 1170px;
}
.wrap img {
  display: block;
  width: 1170px;
  margin: 0 auto;
}

.fixed {
  position: fixed;
  right: 100px;
  bottom: 100px;
}

.fixed:hover {
  opacity: 0.8;
}

.fixed2 {
  position: fixed;
  right: 100px;
  bottom: 40px;
}

.fixed2:hover {
  opacity: 0.8;
}